# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

server/.venv/*
server/venv/*
server/__pycache__/*

title-generator/env/*
title-generator/newsroom-release/*
title-generator/tokenized_newsroom/*
title-generator/bart-newsroom-title/*
title-generator/bart_title_generator/*